body {
    background-color: #ffffff;
}

.md-header {
    background-color: #01579B;
}

.md-nav__link--active, .md-nav__link:active {
    color: #01579B;
}

.md-typeset a {
    color: #01579B;
}

.md-typeset h1, .md-typeset h2 {
    letter-spacing: normal;
}

.md-typeset h2[id] .headerlink {
    font-size: 26px;
}

.md-typeset__table {
    min-width: 100%;
 }

@media screen and (min-width: 76.1875em) {
    .md-sidebar--primary {
        padding: 1.0rem 0 0 .6rem;
    }

    .md-sidebar--primary .md-nav__title {
        display: none;
    }


    .md-sidebar--primary .md-nav__item--nested > .md-nav__link, 
    .md-sidebar--secondary .md-nav__title {
        text-transform: uppercase;
        color: rgba(0,0,0,0.4);
        font-weight: bold;
    }

    .md-sidebar--primary .md-nav__item--nested > .md-nav__link {
        margin-top: 25px;
    }

    .md-sidebar--primary .md-nav__item {
        padding: 0;
    }

    .md-nav__item--nested>.md-nav__link:after {
        content: '';
    }

    .md-logo > img {
        width: 28px;
        height: 28px;
    }
}

@media only screen and (max-width: 76.1875em) {
    html .md-nav--primary .md-nav__title--site {
        position: relative;
        background-color: #01579B;
        color: #fff;
    }
}